.canvas {
  &__preview {
    float: left;
    border: 3px solid #bbb;
    border-right: 0;

    background: no-repeat center;
    background-image: url('img/preview.png');
  }

  &__canvas {
    border: 4px solid #bbb;
  }
}