.canvas {
  .clearfix();
  position: relative;
  z-index: 1;
  width: 100%;

  &__preview {
    float: left;
    background: no-repeat center;
    background-image: url('img/preview.png');
  }

  &__canvas {
    float: right;
    background: repeat top left;
    background-image: url('img/canvas.png');
    border: 1px solid #272727;
    cursor: pointer;
  }

  canvas {
    display: block;
  }
}