<footer class="foot">
  Made by <a href="#">@borbit</a> with powers of
  <a href="#">Node.js</a>,
  <a href="#">CoffeeScript</a>,
  <a href="#">React</a>,
  <a href="#">LessCss</a> and
  <a href="#">Browserify</a>
</footer>