<%
  locals.page_title = 'Index page title';
  locals.page_descr = 'Index page description';
  locals.js  = ['index/index.js'];
  locals.css = ['index/index.css'];
-%>
<% include ../layout_head.ejs %>

<div id="list"></div>

<% include ../layout_foot.ejs %>