  <script src="<%= dist('common.js') %>"></script>
<% (locals.js || []).forEach(function(src) { -%>
  <script src="<%= dist(src) %>"></script>
<% }) -%>
<%
  if (locals.css_post || locals.js_post) {
    var srcs =
      (locals.css_post || []).concat(
      (locals.js_post || []));
-%>
  <script>
    yepnope({
      load: [
<% srcs.forEach(function(src, i) { -%>
       <%=(i ? ',' : ' ')%>'<%= dist(src) %>'
<% }) -%>
      ]
    });
  </script>
<% } -%>
</body>
</html>