.gallery {
  position: relative; 
  background: repeat left top;
  background-position: 17px 17px;
  background-image: url("img/cell.png");
  background-origin: content-box;
  background-clip: content-box;
  height: 100%;

  &__flag {
    float: left;
    margin: 0;
    height: 34px;
    width: 34px;
  }
}