.body {
  margin: 40px auto;
  padding: 0 45px 45px 45px;
  background: #555;
  width: 1101px;

  &__canvas {
    .clearfix();
    margin-top: 24px;
  }

  &__tabs {
    .clearfix();
    margin-left: 4px;   
  }
}