.tabs {
  display: block;
  padding: 0;
  margin: 0;

  &__tab {
    float: left;
    position: relative;
    display: inline-block;
    padding: 44px 10px 4px 10px;
    margin-left: -4px;
    border: solid #fff;
    border-width: 0 4px;
    font-size: 30px;
    letter-spacing: -3px;
    cursor: pointer;
    opacity: .6;
  }

  &__tab:after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border-top: 4px solid #fff;
    content: "";
  }

  &__tab:hover,
  &__tab_act {
    opacity: 1;
  }

  @media (max-width: 767px) {
    .tabs {
      float: left;
      margin-top: -20px;
      margin-bottom: 20px;
    }

    .tabs__tab {
      padding: 20px 4px 0 4px;
    }
  }
}

.sabs {
  height: 22px;
  border-bottom: 2px solid rgba(0,0,0,.2);
  text-align: center;

  &__tab {
    position: relative;
    display: inline-block;
    padding: 3px 12px 2px 10px;
    margin-left: 2px;
    height: 17px;
    border: solid rgba(0,0,0,.2);
    border-width: 0 2px;
    vertical-align: top;
    color: rgba(0,0,0,.2);
    cursor: pointer;
  }

  &__tab:before {
    position: absolute;
    top: -2px;
    left: 0;
    width: 100%;
    content: "";
    border: solid rgba(0,0,0,.2);
    border-width: 2px 0 0 0;
  }

  &__tab_act,
  &__tab:hover {
    background-color: rgba(0,0,0,.2);
    border-color: transparent;
    color: #fff;
  }

  &_grey {
    border-bottom-color: #aaa;
  }

  &_grey &__tab,
  &_grey &__tab:before {
    border-color: #aaa;
    color: #aaa;
  }

  &_grey &__tab_act,
  &_grey &__tab:hover {
    background-color: #aaa;
    color: #fff;
  }
}