@font-face {
  font-family: 'slkscr';
  src: url('/font/slkscr/slkscr-webfont.eot');
  src: url('/font/slkscr/slkscr-webfont.woff') format('woff'),
       url('/font/slkscr/slkscr-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background: #222;
}

body, button {
  font-size: 17px;
  font-family: 'slkscr';
  letter-spacing: -2px;
  color: #fff;

  -webkit-font-smoothing: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

a {
  text-decoration: none;
  border-bottom: 2px solid;
  color: inherit;
}