.toolbar {
  &__tool {
    position: relative;
    display: inline-block;
    margin: 0 0 0 20px;
    padding: 0;
    height: 30px;
    width: 30px;
    vertical-align: bottom;
    background: transparent;
    border: solid #fff;
    border-width: 0 4px;
    text-align: center;
    cursor: pointer;
  }

  &__tool:after {
    position: absolute;
    top: -4px;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    border: solid #fff;
    border-width: 4px 0;
  }
}